  * { box-sizing: border-box; font-family: 'Poppins', sans-serif; }
    body { margin: 0; background: #f4f6fb;   position: relative;}

    .layout { display: flex; height: 100vh; overflow-x: hidden;}

    /* SIDEBAR */

/* Dashboard Layout */
.dashboard-layout {
    display: flex;
    min-height: 100vh;
}

.text_title {

    margin-left: 22%;
    font-size: 18px;
}

.action_input_search input{
      margin-left: 2.5%;

}

.text_title h1 {

    font-size: 30px;
}

.action_input_search{

    margin-left: 20%;
}

.action_input_search input{

   height: 45px;
    width: 50%;
    border-radius: 10px;
    border: none;

    /* sombra suave */
    box-shadow: 0 4px 12px rgba(61, 30, 30, 0.08);

    padding: 0 15px;
    outline: none;
}

.botao_new_client {
    margin-left: 2%;
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #3f7cff;
    color: white;

    align-items: center;
    justify-content: center;
    gap: 8px;

    font-size: 16px;    
    font-weight: 600;
    white-space: nowrap;
    position: relative;
    top: 3px; 
}


.botao_new_client2 {

    margin-left: 2%;
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #50c024;
    color: white;

    align-items: center;
    justify-content: center;
    gap: 8px;

    font-size: 16px;    
    font-weight: 600;
    white-space: nowrap;
    position: relative;
    top: 3px;

}


.icone_filtro {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    right: 10px;
}

.icone_filtro2 {
    width: 17px;
    height: 17px;
    position: relative;
    top: 3px;
    right: 7px;
}


.botao_new_client:hover {

    background-color: #5786ff;
}


.botao_new_client2:hover {

    background-color: #5ad32a;
}

.container_clients {

    position: relative;
    top: 40px;
    left: 230px;
    width: 82%;
}




.car-actions {
  display: flex;
  justify-content: center;
}

.btn-delete {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background: #ffecec;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s ease;
  
}

#carrosTableBody {
  padding-bottom: 28px; /* adjust as you like */
}

.btn-delete img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}


.btn-delete:hover {
  background: #ff4d4f;
}

/* imagem */
.btn-delete .delete {

  width: 26px;
  height: 26px;
  object-fit: contain;
  display: block;
}





/* Sidebar Admin */
.sidebar_admin {
    width: 280px;
    background: #141517;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

.logo-group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container_img {
    width: 50px;
    height: 50px;
    background: #1655f5;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_img img {
    width: 35px;
    height: 35px;
}

.text_logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* Admin Sidebar Buttons */
.botao_inicios, .botao_inicio2, .botao_inicio3, .botao_inicio4, .botao_inicio5, .botao_inicio6 {
    width: 100%;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: all 0.3s ease;
    text-align: left;
}

.car-actions button {
   border: none;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 13px;
      background-color: #fff;
    
}

.delete { 
  background: #ffffff; 
  color: #991b1b; 
}


.botao_inicio2.active {
    background-color: #2969f5;
}

.botao_inicios:hover, .botao_inicio4:hover, .botao_inicio5:hover, .botao_inicio6:hover, .botao_inicio3:hover {
    background-color: #3f434b;
    transform: translateX(5px);
}


.botao_inicio2:hover{
    background-color: #2969f5;
    transform: translateX(5px);
}


.icone_botao, .icone_botao2, .icone_botao3, .icone_botao4, .icone_botao5, .icone_botao6 {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.text_inicio, .text_inicio2, .text_inicio3, .text_inicio4, .text_inicio5, .text_inicio6 {
    font-size: 16px;
    font-weight: 500;
}

/* Logout Button */
.botao_deslogar {
    margin-top: auto;
    width: 100%;
    padding: 15px 20px;
    background: #e74c3c;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao_deslogar:hover {
    background: #c0392b;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(231, 76, 60, 0.3);
}
    /* MAIN */
    main {
      flex: 1;
      padding: 32px;
    }

    header h1 { margin: 0; font-size: 26px; }
    header p { color: #64748b; margin-top: 6px; }

    /* ACTION BAR */
    .actions {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 20px;
    }

    .actions input {
      width: 300px;
      padding: 12px 14px;
      border-radius: 10px;
      border: 1px solid #e2e8f0;
    }

    .actions button {
      padding: 12px 18px;
      border-radius: 10px;
      border: none;
      background: #2563eb;
      color: #fff;
      cursor: pointer;
    }

    /* TABLE */
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 21%;
      border-spacing: 0;
    
    }

    table td {
  padding: 1px 0; /* diminua aqui */
}

    
thead {
    display: none;
}

tbody tr {
    display: block;
    margin-bottom: 14px;
}



.car-card {
  display: grid;
  grid-template-columns: 
    90px        /* imagem */
    1fr         /* info */
    140px       /* preço */
    130px       /* status */
    60px;       /* delete */
  align-items: center;
  margin-top: 38px;
  gap: 20px;
  position: relative;
  left: 22%;
  border-radius: 12px;
  width: 80%;
  
}

.car-actions {
  position: static !important;

}

.car-status {
  position: relative;
  right: 58px;
}

.car-meta {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.car-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.1);
}

/* IMAGEM */
.car-card img {
    width: 230px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 1px;
}

/* INFO */
.car-info h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    position: relative;
    left: 30%;
}

.car-info .car-plate {
    font-size: 18px;
    color: #1f2225;
    position: relative;
    top: 6px;
    left: 160px;
}


/* PREÇO */
.car-price {
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
  right: 50px;
}

.car-price span {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

/* STATUS */

.car-status {
  text-align: center;
  min-width: 110px;
}

/* Status cores */
.status-available {
    background: #e7f9ef;
    color: #16a34a;
    
    
}

.status-rented {
    background: #e0edff;
    color: #2563eb;
    
}

.status-maintenance {
    background: #fff3d6;
    color: #d97706;
}

.status-inactive {
    background: #fde8e8;
    color: #dc2626;
}

/* AÇÕES */
.car-actions {
   position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);

}

.car-actions .btn-delete {
  width: 40px;
  height: 40px;
  background: #ffecec;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.car-actions button {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: #f3f4f6;
    transition: background .2s ease;
    position: relative;
    right: 30px;
    top: 16px;
}

.car-actions .btn-delete img,
.btn-delete img {
  width: 18px !important;
  height: 18px !important;
  max-width: 18px;
  max-height: 18px;
  object-fit: contain;
  display: block;
  
}

.car-actions .btn-delete:hover {
  background: #ffdddd;
}


.car-actions .btn-delete img {
  width: 18px;
  height: 18px;
  display: block;
}


#clientesTableBody {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.car-row{
    margin-top: 1px;
}

   

    .title_action_text {
  display: inline-block;
  transform: translateX(45px); /* move para a esquerda */
}

    th, td {
      padding: 14px 0px;
      text-align: left;
    }

    th {
      background: #dde0e2;
      font-weight: 600;
      font-size: 14px;
      color: #202122;
      
    }

    th:nth-child(1),
td:nth-child(1) {
  width: 23%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 25%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 12%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 30%;
}
    .status {
      padding: 6px 12px;
      border-radius: 999px;
      font-size: 13px;
      font-weight: 500;
      display: inline-block;
    }

    .ativo { background: #dcfce7; color: #166534; }
    .inativo { background: #fee2e2; color: #991b1b; }

    .btns button {
      border: none;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 13px;
      background-color: #fff;
    }

    .edit { background: #ffffff; color: #075985; }
    .delete { background: #ffffff; color: #991b1b; }


    .status.ativo {
  background: #e6f9ee;
  color: #1a7f37;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 600;
}

.status.inativo {
  background: #fdecec;
  color: #b42318;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 600;
}




/* ===== MODAL EXCLUIR ===== */
.modal-overlay {
 position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  display: none; /* controlado via JS */
  align-items: center;
  justify-content: center;

  z-index: 9999;
  display: none;
}


.modal-overlay.active {
  display: flex;
}

.modal-box {
  position: relative;
  margin: 0;
}

/* Fundo escuro com blur */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Caixa principal */
.modal-box.modal-danger {
  background: #ffffff;
  border-radius: 22px;
  width: 420px;
  padding: 28px 24px 32px;
  text-align: center;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.35);
  animation: modalScale 0.3s ease;
}

/* Animação suave */
@keyframes modalScale {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Imagem do carro */
.modal-car-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.modal-car-image-wrapper img {
  width: 100%;
  max-width: 340px;
  height: 190px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
}

/* Informações do carro */
.modal-car-details h2 {
  font-size: 24px;
  font-weight: 700;
  color: #111;
  margin: 8px 0 4px;
}

.modal-car-details span {
  font-size: 16px;
  font-weight: 500;
  color: #4e4b4b;
  letter-spacing: 1px;
  position: relative;
  top: 8px;
}

/* Texto de alerta */
.modal-text {
  margin: 20px 0 26px;
  font-size: 15px;
  color: #444;
}

.modal-text strong {
  color: #d90429;
 
}

.btn-delete.btn-danger-big {
   width: 374px;
   border-radius: 7px;
   height: 40px;
}

/* Ações */
.modal-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Cancelar */
.btn-cancel {
  background: #f1f1f1;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-cancel:hover {
  background: #e4e4e4;
}

/* Botão excluir grande */
.btn-danger-big {
  background: linear-gradient(135deg, #e63946, #d90429);
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 12px 30px rgba(217, 4, 41, 0.45);
  transition: transform 0.15s, box-shadow 0.15s;
}

.btn-danger-big:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 40px rgba(217, 4, 41, 0.6);
}

.btn-danger-big:active {
  transform: scale(0.98);
}


.btn-cancel {
  background: #e0e0e0;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}




@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}






/* ===== EMPTY STATE (Nenhum cliente encontrado) ===== */

.empty-row td {
  padding: 60px 0;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* puxa para a esquerda */
  justify-content: flex-start; /* puxa para o topo */

  gap: 12px;
  text-align: left;

  min-height: calc(100vh - 120px);

  position: relative;
  bottom: 150px;
  left: 120px;
}


.empty-state img {
  width: 56px;
  height: 56px;
  opacity: 0.6;
}

.empty-state h3 {
  font-size: 25px;
  font-weight: 600;
  color: #374151;
}

.empty-state p {
  font-size: 18px;
  max-width: 560px;
  line-height: 1.5;
  position: relative;
  top: 2px;
  color: #363636;
}



.toast-success {
  position: fixed;
  top: 24px;
  right: 24px;

  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: #fff;

  padding: 14px 20px;
  border-radius: 12px;

  font-size: 14px;
  font-weight: 600;

  box-shadow: 0 12px 30px rgba(39, 174, 96, 0.4);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10000;
}

/* Quando ativo */
.toast-success.show {
  opacity: 1;
  transform: translateY(0);
}




.empty-state {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  text-align: center;
}

.empty-state img {
  width: 220px;
  opacity: 0.85;
  margin-bottom: 20px;
}

.empty-state h2 {
  font-size: 22px;
  font-weight: 700;
  color: #222;
  margin-bottom: 8px;
}

.empty-state p {
  font-size: 15px;
  color: #666;
  margin-bottom: 24px;
}

.btn-empty-action {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  box-shadow: 0 12px 30px rgba(37, 99, 235, 0.4);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btn-empty-action:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 40px rgba(37, 99, 235, 0.55);
}




/* Overlay */
.filter-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1000;
}


.filter-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Sidebar */
.filter-sidebar {
  position: fixed;
  top: 0;
  right: -420px;
  width: 400px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -12px 0 30px rgba(0,0,0,0.12);
  transition: right 0.3s ease;
  z-index: 1001;

  display: flex;
  flex-direction: column;
}

/* OPEN STATE */
.filter-sidebar.open {
  right: 0;
}

.filter-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Header */
.filter-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.filter-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.filter-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Body */
.filter-body {
  padding: 24px;
  flex: 1;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
}

.filter-group label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  margin-top: 30px;
  margin-left: 14px;
}

.filter-group input,
.filter-group select {
  width: 90%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
  margin-left: 12px;
}

.filter-group input:focus,
.filter-group select:focus {
  border-color: #2563eb;
}

/* Footer */
.filter-footer {
  padding: 20px 24px;
  display: flex;
  gap: 12px;
  border-top: 1px solid #eee;
}

.filter-actions {
  padding: 20px;
  border-top: 1px solid #e5e7eb;
  display: flex;
  gap: 12px;
}


.btn-clear {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #f3f4f6;
  font-weight: 500;
  cursor: pointer;
}

.btn-apply {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
}



.btn-apply:hover {
  background: #1d4ed8;
}


